<app-navbar />

<section class="mainContaine" *ngIf="carsList.length > 0">
  <div class="topHeader">
    <h5>Saved Cars</h5>
    <p>Your favorite cars, ready when you are.</p>
  </div>

  <div class="car-grid-container">
    <div class="car-grid">
      <app-car-card *ngFor="let car of carsList" [car]="car"></app-car-card>
    </div>
  </div>
</section>

<div class="noCars" *ngIf="carsList.length < 1">
  <fa-icon size="10x" [icon]="faSave" class="IconSave" />
  <span>No cars saved yet</span>
  <span>Start saving your favorite cars for future rentals.</span>
  <button class="ExploreCars" (click)="navigateTo('/cars')">Browse Cars</button>
</div>
