<div class="customers-component-wrapper">
  <!-- Hero Card -->

  <section class="bookings-section">
    <div class="recent-bookings">
      <!-- Header -->
      <div class="row-title">
        <div class="title-column">
          <h1 class="titlecase">Your Customers</h1>
          <h3 class="BsubHeading">Manage Your Customers</h3>
        </div>
        <button class="NewBookingButton" (click)="isModalOpen = !isModalOpen">
          New Customer
        </button>
      </div>

      <!-- Table / No Data -->
      <ng-container *ngIf="customers && customers.length > 0; else noData">
        <div class="table-wrapper">
          <table class="bookings-table">
            <thead>
              <tr>
                <th>Customer ID</th>
                <th>Email</th>
                <th>Customer Name</th>
                <th>Phone Number</th>
                <th>Profile</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customer of customers">
                <td>#{{ customer.customer_id }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.customer_name }}</td>

                <td>{{ customer.phone }}</td>
                <td>
                  <img
                    [src]="customer.customer_profile_image || '/user.png'"
                    [alt]="customer.customer_name"
                    class="customer-profile"
                  />
                </td>

                <td><button class="view-btn">View</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-container>

      <!-- No Data Template -->
      <ng-template #noData>
        <p class="no-data">No bookings found.</p>
      </ng-template>
    </div>
  </section>
</div>

<div class="Topdiv">
  <app-modalrelative
    [title]="'Add New Customer'"
    [isOpen]="isModalOpen"
    [size]="'md'"
    (close)="closeModal()"
  >
    <app-add-customer />
  </app-modalrelative>
</div>
