<nav [class.scrolled]="isScrolled" class="navbar">
  <div class="nav-container">
    <!-- Logo -->
    <img src="/logo.png" alt="Logo" class="logo" (click)="home()" />

    <!-- Desktop Menu -->
    <ul class="nav-links">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li><a routerLink="/cars" routerLinkActive="active">All Cars</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
    <!-- Desktop Buttons -->
    <div class="nav-buttons">
      <button class="btn login" (click)="Naviage('/login')" *ngIf="hideButton">
        Login to Account
      </button>
      <button class="btn partner" (click)="showToast()" *ngIf="hideButton">
        Become Partner
      </button>
      <!-- User profile -->
      <div class="user-profile" (click)="ModelToggle()" *ngIf="!hideButton">
        <img src="/user.png" alt="User" />

        <app-dropdown [isOpen]="ismodal">
          <li class="listOptions" (click)="Profile()">
            <fa-icon [icon]="UserIcon" />
            My Accunt
          </li>
          <li class="listOptions" (click)="Bookings()">
            <fa-icon [icon]="BookingIcons" />
            My Bookings
          </li>
          <li class="listOptions" (click)="Dashboard()">
            <fa-icon [icon]="faDashboard" />
            Dashboard
          </li>
          <li class="listOptions" (click)="isconfirm = !isconfirm">
            <fa-icon [icon]="LogoutIcon" />
            Logout
          </li>
        </app-dropdown>
      </div>
    </div>

    <!-- Hamburger -->
    <div class="hamburger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <!-- Side Drawer Menu -->
  <div class="mobile-menu" [class.active]="menuOpen">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="toggleMenu()"
      >Home</a
    >
    <a routerLink="/cars" routerLinkActive="active" (click)="toggleMenu()"
      >All Cars</a
    >
    <a routerLink="/about" routerLinkActive="active" (click)="toggleMenu()"
      >About</a
    >

    <a routerLink="/contact" routerLinkActive="active" (click)="toggleMenu()"
      >Contact</a
    >
    <button class="btn login" (click)="Naviage('/login')">Login</button>
    <button class="btn partnerMobile" (click)="showToast()">
      Become Partner
    </button>
  </div>
</nav>

<app-confirm-dialog
  [isOpen]="isconfirm"
  description="Do you really want to logout?"
  (onConfirm)="logout()"
  (onCancel)="isconfirm = false"
/>
