/* Container */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg);
    padding: 20px;
}

/* Form */
.signup-form {
    background: var(--card-bg);
    padding: 30px 25px;
    border-radius: var(--radius);
    width: 100%;
    max-width: 400px;
    transition: var(--transition);
}

/* Inputs */
.form-group {
    margin-bottom: 18px;
}

label {
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
    font-size: 14px;
    color: var(--text-primary);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: var(--input-padding);
    border: 1px solid var(--borderColor);
    border-radius: var(--radius);
    outline: none;
    transition: var(--transition);
    font-size: 14px;
    background: var(--card-bg);
    color: var(--text-primary);
}

input:focus {
    border-color: var(--primary);
    box-shadow: 0 0 6px rgba(16, 185, 129, 0.3);
}

/* Error text */
.error {
    color: var(--danger);
    font-size: 12px;
    margin-top: 4px;
}

/* Button */
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: var(--radius);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.signup-btn {
    background: var(--primary);
    color: var(--card-bg);
}

.signup-btn:hover {
    background: var(--primary-dark);
    transform: translateY(-2px);
}

/* Link */
.login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: var(--accent);
    text-decoration: none;
    transition: var(--transition);
}

.login-link a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 786px) {

    .signup-container {
        background: var(--card-bg);
        padding: 15px;
    }

    .signup-form {
        padding: 20px;
        /* box-shadow: var(--shadow); */
    }
}