.loading-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.segment {
    position: absolute;
    width: 50%;
    height: 50%;
    border: 5px solid transparent;
    border-radius: 50%;
    border-top-color: #ff9100;
    animation: spin 1s linear infinite, colorChange 2s linear infinite;
}

.segment1 {
    transform: rotate(0deg);
    animation-delay: 0s;
}

.segment2 {
    transform: rotate(90deg);
    animation-delay: 0.1s;
}

.segment3 {
    transform: rotate(180deg);
    animation-delay: 0.2s;
}

.segment4 {
    transform: rotate(270deg);
    animation-delay: 0.3s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes colorChange {
    0% {
        border-top-color: #ff3d00;
    }

    25% {
        border-top-color: #ffba00;
    }

    50% {
        border-top-color: #00c853;
    }

    75% {
        border-top-color: #2962ff;
    }

    100% {
        border-top-color: #ff3d00;
    }
}