<div class="search-form-container">
  <form class="search-form">
    <div class="TopGroup">
      <div class="formgroupstart">
        <div class="centerBox">
          <label>When to Start</label>
          <app-custom-datepicker
            (dateStringChange)="onDateSelected($event, 'start')"
          />
        </div>
      </div>

      <div class="formgroupstart">
        <div class="centerBox">
          <label>When to Finish</label>
          <app-custom-datepicker
            (dateStringChange)="onDateSelected($event, 'start')"
          />
        </div>
      </div>
    </div>

    <div class="BottomGroup">
      <div class="form-group" (click)="openModalFor('Destination')">
        <fa-icon [icon]="['fas', 'map-marker-alt']" class="icon"></fa-icon>
        <div>Your Destination:{{ Destination }}</div>
      </div>
      <div class="form-group" (click)="openModalFor('People')">
        <fa-icon [icon]="['fas', 'users']" class="icon"></fa-icon>
        <div class="centerBox">People {{ PeopleSelected }}</div>
      </div>
    </div>
    <div class="buttonBox">
      <button class="disable-btn">
        <fa-icon [icon]="['fas', 'search']"></fa-icon> Search
      </button>
      <button class="search-btn" (click)="ExploreAll()">
        <fa-icon [icon]="['fas', 'search']"></fa-icon> Explore All
      </button>
    </div>
  </form>
</div>

<div class="Topdiv">
  <app-modalrelative
    [title]="'Choose an Option'"
    [isOpen]="isModalOpen"
    [size]="'md'"
    (close)="closeModal()"
  >
    <div class="optionsRow">
      <button
        class="listoptions"
        *ngFor="let item of modalOptions"
        (click)="SetOption(item)"
      >
        {{ item }}
      </button>
    </div>
  </app-modalrelative>
</div>
